.line-1{
  width: 16.5em;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 90px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-30%);   
  @include breakpoint (phone) {
    display: none;
} 
}

.anim-typewriter{
    animation: typewriter 3s steps(25) 1s 1 normal both,
               blinkTextCursor 500ms steps(25) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 16.5em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
