.navbar__logo {
        height: auto;
        width: 100px;

        @include breakpoint (phone) {
            height: auto;
            width: 80px;
        }
    }
.navbar-nav {
    @include breakpoint (phone) {
    background-color: $color-grey-light-2;
    }
}
    
.nav-link {
    position: relative;
    color: $color-white;
    text-decoration: none;
    font-family: Tantra;
    margin: 10px;
    transition: $transition;

    &:hover {
        color: $color-white;
        &::after {
            position: absolute;
            content: "";
            background: $color-blue;
            height: 2px;
            width: 30px;
            left: 25%;
            right: 25%;
            bottom: 0;
            margin: 0 auto; 
        }
    }
    @include breakpoint (phone) {
        margin: 5px;
    }
}

.contact-border {
    display: inline-block;
    border: 2px solid $color-blue;
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
    transition: .6s;

    &:hover {
        background-color: $color-blue;

    &::after {
        background: transparent;
    }
}

    @include breakpoint (phone) {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2366a8c0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
    outline: none;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-item {
    @include breakpoint (phone) {
        text-align: center;
    }
}

.navbar-toggler {
    padding: .25rem 0em;
}   